<!DOCTYPE html>
<html>
<head>
  <title>Slip</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <form action="upload" method="post" enctype="multipart/form-data">
    <p>
      Link to video:<br>
      <input type="file" name="video">
    </p>
    <p>
      Link to slides:<br>
      <input type="file" name="slides">
    </p>
    <input type="submit" value="Upload">
  </form>

  <center>
<!--     <div id="frame">
      <img src="slides/a-0.jpg" height="540">
    </div>
 -->
    <div id="button">
      <table width="60%">
        <tr>
          <td width="48%"><img class="button" id="back_button" src="images/back_button.png" height="30"></td>
          <td width="52%"><img class="button" id="video_button" src="images/video_button.png" height="30"></td>
          <td><img class="button" id="next_button" src="images/next_button.png" height="30"></td>
        </tr>
      </table>
    </div>
  </center>

  <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="js/templates.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
